<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Ayuda - CYBERSHIELD ACADEMY</title>
    <link rel="stylesheet" href="static/css/ayuda.css">
</head>
<body>
    <div class="logo">
        <a href="/pagina">  <h1>CYBERSHIELD ACADEMY</h1></a>
    </div>
    <div class="container">
        <h1>Centro de Ayuda</h1>

        <section class="section">
            <h2>Preguntas</h2>
            <div class="faq-item">
                <h3>¿Cómo me registro en un curso?</h3>
                <p>Para registrarte en un curso, primero debes crear una cuenta en nuestra plataforma. Luego, puedes explorar el catálogo de cursos, seleccionar el que te interese y hacer clic en el botón "Inscribirse".</p>
            </div>
            <div class="faq-item">
                <h3>¿Cómo accedo al material del curso?</h3>
                <p>Una vez que te hayas inscrito en un curso, podrás acceder al material a través de la página del curso. Allí encontrarás videos, documentos y otros recursos.</p>
            </div>
            <div class="faq-item">
                <h3>¿Cómo obtengo un certificado?</h3>
                <p>Para obtener un certificado, debes completar todos los módulos del curso y aprobar cualquier evaluación requerida. Una vez que hayas hecho esto, podrás descargar tu certificado.</p>
            </div>
        </section>

        <section class="section">
            <h2>Guías y Tutoriales</h2>
            <ul>
                <li><a href="/preguntas">Preguntas frecuentes técnicas</a></li>
            </ul>
        </section>

        <section class="section">
            <h2>Contáctanos</h2>
            <p>Si no encuentras la respuesta a tu pregunta en nuestro Centro de Ayuda, puedes contactarnos a través de los siguientes medios:</p>
            <ul>
                <li><strong>Email:</strong> ayuda@cybershieldacademy.com</li>
            </ul>
        </section>
    </div>

    <div class="footer">
        <p>&copy; [2025] CYBERSHIELD ACADEMY. Todos los derechos reservados.</p>
    </div>
</body>
</html>