<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña - CYBERSHIELD ACADEMY</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="login-container">
        <div class="header-container">
            <div class="logo">
                <a href="/pagina">
                    <h1>CYBERSHIELD ACADEMY</h1>
                </a>
            </div>
        </div>
        <div class="login-box">
            <h1>Recuperar Contraseña</h1>
            <form method="POST">
                <input type="email" name="correo" placeholder="Ingresa tu correo electrónico" required>
                <button type="submit">Enviar Enlace</button>
                <div class="extra-links">
                    <a href="/login">Volver al inicio de sesión</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>