<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CYBERSHIELD ACADEMY</title>
    <link rel="stylesheet" href="static/css/pagina.css">
</head>
<body>

    <div class="bloque-principal">
        <div class="encabezado">
            <div class="logo">
                <a href="/pagina">  <h1>CYBERSHIELD ACADEMY</h1></a>
            </div>
            <div class="botones-derecha">
                <a href="/login">Iniciar Sesión</a>
                <a href="/registro">Registrarse</a>                
            </div>
            
        </div>

        <div class="menu-inferior">
            <ul>
                <li><a href="/pagina">Inicio</a></li>
                <li><a href="/Planes">Planes</a></li>
                <li>
                    <a href="#">Contenido</a>
                    <ul class="submenu">
                        <li><a href="/cursos">Cursos</a></li>
                    </ul>
                </li>
                <li><a href="/preguntas">Preguntas Frecuentes</a></li>
            </ul>
        </div>        

        <div class="container">
            <div class="text-content">
                <h2>Bienvenido a <strong>CYBERSHIELD ACADEMY</strong></h2>
                <p>
                    En esta plataforma, te sumergirás en el mundo de la ciberseguridad a través de cursos interactivos y contenido exclusivo.  Nuestro objetivo es brindarte los conocimientos necesarios para identificar y prevenir amenazas cibernéticas, mejorar tu protección digital y adoptar las mejores prácticas en seguridad informática.  Participa en retos de seguridad, aprende de expertos y conecta con una comunidad apasionada. ¡Comienza hoy tu camino en la ciberseguridad!
                </p>
            </div>
            <div class="image-content">
                <img src="static/img/ciberseguridad.jpg" alt="Ciberseguridad">
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <a href="#">Términos de uso</a>
            </div>
            <div class="footer-section">
                <a href="/ayuda">Centro de Ayuda</a>
            </div>
            <div class="footer-section">
                <a href="/contacto">Contáctanos</a>
            </div>
        </div>
    </footer>

</body>
</html>