<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Planes.css">
    <title>Planes de Suscripción</title>
</head>
<body>
    <header>
        <header>
    <h1 id="planes">Planes de Suscripción</h1>
    <p class="subtitulo">Mejora tus conocimientos laborales y desarrolla tus sueños</p>
</header>

    </header>
    <main>
        <section class="planes-container">
            <div class="plan">
                <h2>Gratuito</h2>
                <ul>
                    <li>Acceso a todo el contenido</li>
                    <li>Visualización de ciertos anuncios</li>
                    <li>Acceso a comunidad básica</li>
                </ul>
                <p class="precio">Gratis</p>
                <button>Seleccionar</button>
            </div>
            <div class="plan">
                <h2>Básico</h2>
                <ul>
                    <li>Contenido sin anuncios</li>
                    <li>Certificado digital al finalizar cursos</li>
                    <li>Soporte en línea</li>
                    <li>Acceso a la comunidad premium</li>
                    <li>Descuentos en cursos adicionales</li>
                    <li>Acceso a recursos exclusivos</li>
                    <li>Participación en foros y grupos de estudio</li>
                </ul>
                <p class="precio">$35.000/mes</p>
                <button>Seleccionar</button>
            </div>
            <div class="plan">
                <h2>Dual</h2>
                <ul>
                    <li>Todos los beneficios del plan Básico</li>
                    <li>Acceso a cursos avanzados y proyectos reales</li>
                    <li>Soporte prioritario</li>
                </ul>
                <p class="precio">$60.000/mes</p>
                <button>Seleccionar</button>
            </div>
            <div class="plan">
                <h2>Empresarial</h2>
                <ul>
                    <li>Soluciones y capacitación personalizadas</li>
                    <li>Reportes de progreso para equipos</li>
                    <li>Soporte dedicado para empresas</li>
                </ul>
                <p class="precio">A consultar</p>
                <a href="mailto:ventas@tuempresa.com" class="contacto-btn">Contactar Ventas</a>
            </div>
            <div class="plan">
                <h2>Premium</h2>
                <ul>
                    <li>Todos los beneficios del plan Dual</li>
                    <li>Acceso a sesiones en vivo con expertos</li>
                    <li>Participación en retos de ciberseguridad</li>
                    <li>Integración con herramientas profesionales</li>
                </ul>
                <p class="precio">$100.000/mes</p>
                <button>Seleccionar</button>
            </div>
        </section>
    </main>
</body>
</html>
